body {
  position: relative;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: lavender;
}



/* ########## Navbar ########## */
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  background: #cfc9ff;
}

#navbar header {
  position: relative;
  cursor: pointer;
}

#navbar h1 {
  padding: 20px 10px;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

/* Hide nav links on load and use jQuery to decide whether to show or not */
.list_container {
  display: none;
}

#navbar ul {
  display: flex;
  flex-flow: row wrap;

  padding: 0px;
  margin: 0px;
  list-style-type: none;
  background: #d9d4ff;
}

#navbar li {
  padding: 20px;
  margin: 0px;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

/* ********** Menu icon ********** */
#menu_icon {
  position: absolute;
  bottom: 20px;
  right: 20px;

  display: none;
  cursor: pointer;
}

.bar {
  width: 35px;
  height: 5px;
  margin: 5px 0px;
  background: blue;
  transition: 0.5s;
}

.menu_open #bar1 {
  transform: rotate(-45deg) translate(-9px, 4px);
}

.menu_open #bar2 {
  opacity: 0;
}

.menu_open #bar3 {
  transform: rotate(45deg) translate(-10px, -5px);
}
/* ########## End Navbar ########## */



/* ########## Main ########## */
#main-doc {
  margin-top: 5px;
  padding: 10px;
  line-height: 2.5rem;
}

.section_title {
  padding: 15px 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background: #bbb3ff;
}

.section_subtitle {
  padding: 10px 5px;
  font-size: 1.2rem;
  font-weight: bold;
  background: #d4ceff;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  height: 5px;
  background: mediumpurple;
  color: mediumpurple;
}

#main-doc code {
  padding: 5px;
}

.code {
  padding: 20px;
  line-height: 1.5rem;
}

#main-doc code, .code {
  background: #d9d4ff;
  color: blue;
}

.iframe-container {
  max-width: 650px;
}

#main-doc iframe {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
}

.note {
  padding: 10px;
  background: #c9c4e8;
}

.reference_list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.reference_list li {
  margin-right: 20px;
}

.author {
  font-size: 0.7rem;
}
/* ########## End main ########## */



/* ########## Media Query ########## */
@media screen and (min-width: 700px) {
  /* Change to side navbar when screen >= 700px */
  #navbar {
    bottom: 0px;
    width: 280px;
    border-right: 1px solid mediumpurple;
    overflow: auto;
  }

  #navbar header {
    cursor: default;
  }

  #navbar h1 {
    border-bottom: 1px solid mediumpurple;
  }

  #navbar ul {
    display: block;
  }

  #navbar li {
    display: list-item;
    margin: 0px;
    text-align: center;
  }

  #navbar li:not(:last-child) {
    border-bottom: 1px solid mediumpurple;
  }

  /* Move #main-doc back to top of screen and next to sidebar */
  #main-doc {
    position: absolute;
    left: 290px;
    top: 0px;
    padding: 10px;
  }
}
/* ########## End Media Query ########## */
