body {
  position: relative;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: lavender;
}



/* ########## Navbar ########## */
.navbar {
  background: #cfc9ff;
}

.navbar-brand h1 {
  font-family: 'Oswald', sans-serif;
}

.navbar-nav .nav-item .nav-link {
  color: blue;
}

.navbar-nav .nav-item:hover {
  color: blue;
  text-decoration: underline;
  background: #d9d4ff;
}

.fixed-left {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
/* ########## End Navbar ########## */



/* ########## Main ########## */
#main-doc {
  margin-top: 5px;
  padding: 10px;
  line-height: 2.5rem;
}

.section_title {
  padding: 15px 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background: #bbb3ff;
}

.section_subtitle {
  padding: 10px 5px;
  font-size: 1.2rem;
  font-weight: bold;
  background: #d4ceff;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  height: 5px;
  background: mediumpurple;
  color: mediumpurple;
}

#main-doc code {
  padding: 5px;
}

.code {
  padding: 20px;
  line-height: 1.5rem;
}

#main-doc code, .code {
  background: #d9d4ff;
  color: blue;
}

.iframe-container {
  max-width: 650px;
}

#main-doc iframe {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
}

.note {
  padding: 10px;
  background: #c9c4e8;
}

.reference_list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.reference_list li {
  margin-right: 20px;
}

.author {
  font-size: 0.7rem;
}
/* ########## End main ########## */
